#victorBig{
  border-radius: 20%;
}

#QuestionnaireBtn{
  width : 96.3%;
  font-weight: bold;
  height: 50px;
}

.categoriesbtn{
  height : 80px;
  /* width : 10%; */
  font-weight: bold;
  color: white;
}

#textProgBar{
  font-size: 11px;
  font-style: italic;
  margin-bottom: 1px;
  color: grey;
  text-align: center;
}

body{
  background-color: #FDF1B8;
}

#historiqueTitle{
  font-weight: bold;
  text-align: center;
  margin-bottom: -20px;
}

.historiqueMessages{
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  margin-top: 35px;
}

/* Style time text */
.time-right {
  margin-top: -10px;
  float: right;
  color: #aaa;
  font-style: italic;
}
